.stage {
  background-image: url("./Image/css_animation_exercice_4.png");
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	width: 600px;
	height: 600px;
}

.hero {
  display: block;
  position: relative;
  border: 1px dashed red;
  left: 20px;
  top: 20px;
  height: 73px;
  width: 73px;
  animation-name: myMove;
  animation-duration: 20s;
  animation-direction: normal;
  animation-delay: 0;
}

@keyframes myMove {
  0%    {left: 50px; top: 20px;  border-color: red; height: 73px;  width: 73px;}
  20%   {left: 500px; top: 20px;  border-color: red; height: 73px;  width: 73px;}
  40%   {left: 500px; top: 200px; transform: rotate(0deg); border-color: red; height: 73px;  width: 73px;}
  60%   {left: 270px; top: 200px; transform: rotate(45deg); border-color: red; height: 73px;  width: 73px;}
  80%   {left: 20px; top: 205px; transform: rotate(90deg); border-radius: 0; background: none; border-color: #0900bd; height: 73px;  width: 73px;}
  100%  {left: 440px; top: 440px; border-radius: 50%; background: radial-gradient(#FBBA61, #F76B1C); border-color: orange; height: 150px; width: 150px;}
}
